body {

    margin: 0%;
    background: #768C26;
    font-family: sans-serif;

}

#titulo {

    color: #FFFFFF;
    letter-spacing: 1.5px;
    text-align: center;
    font-weight: 600px;
    display: block;
    margin: auto;
    width: 70%;
    margin-top: 70px;
    padding-bottom: 30px;
}

h2 {

    color: #F2DBAE;
    text-align: center;
    padding: 20px;
}

.garantia {

    display: flex;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;

}

.garantiaImagen
 
{

    height: 112px;
    width: 76px;

}

.garantiaTexto  {

    text-align: left;
    padding-left: 20px;
    padding-bottom: 40px;
}

.fondoFacebook {

    border-radius: 5px;
    background-color: whitesmoke;
    padding: 5px 10px 10px 10px;
    margin: auto;
    width: 70%;
    display: block;
}

.comentariosFacebook {

    display: flex;
    
}

.fotoFacebook   {

height: 70px;
width: 70px;
padding-top: 15px;

}

.comentariosFacebookk {

    display: flex;
    border-left: #93979F 1px dotted;
    
}

.fotoFacebookk   {

    height: 70px;
    width: 70px;
    padding-top: 15px;
    padding-left: 10px;

    }

.comentarioFacebook     {

    font-weight: 400;
    font-size: 14px;
    color: #1E1E1E;
    padding-left: 10px;
    
}

.megustaFacebook {

    font-weight: 400;
    font-size: 12px;
    color: #93979F;
    padding-left: 10px;

}



.nombreFacebook {

    font-size: 14px;
    color: #365899;
    padding-left: 10px;


}

.todosComentarios {

    color: #373737;
    font-weight: 550;
    font-size: 14px;

}

.textoGarantia {

    letter-spacing: 0.5px;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;

}

footer  {


    background-color: #734D2C;
    padding: 10px 10px 10px 10px;
    color: white;
    text-align: center;
}


.oroObtenido    {

    width: 95%;
    display: block;
    margin: auto;
}

ul {
    list-style: none;
  }
  
ul li:before {
    content: '✓';
    color: #AABFBB;
    font-weight:bolder;
  }